/* * {
  border: 2px solid red;
} */

body{
    background-color: #f5f5f5;
}


.responsiveCalendar{
  font-size: 12px !important;
  padding: 10px !important;
  width: 100% !important;
  height: auto !important;
}

@media only screen and (max-width: 600px) {
  .responsiveCalendar{
    font-size: 9px !important;
    padding:10px 5% !important;
    height:max-content !important;
  }
}
/* rev says don't touch [he will refactor later] */

.currentRequest::-webkit-scrollbar {
  width: 0px;
}
.currentRequest::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f5f5f5;
}
.currentRequest::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.userdiv {
  animation-name: slide;
  animation-duration: 180ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.userdivback {
  animation-name: sliderev;
  animation-duration: 180ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes slide {
  from {
    right: 100%;
    left: 0px;
  }
  to {
    left: 50%;
    right: 0px;
  }
}

@keyframes sliderev {
  from {
    left: 50%;
    right: 0px;
  }
  to {
    right: 100%;
    left: 0px;
  }
}
