/* *{
    border: 2px solid red;
} */

/* rev says don't touch [he will refactor later] */

.userdiv{
    animation-name: slide;
    animation-duration: 250ms ;
    animation-fill-mode: forwards;

}
.userdivback{
    animation-name: sliderev;
    animation-duration: 250ms ;
    animation-fill-mode: forwards;

}
@keyframes slide {
    from {  right: 100%; left: 0px;}
    to { left: 50%; right: 0px;}
       
   }

   @keyframes sliderev {
       from { left: 50%; right: 0px;}
       to {  right: 100%; left: 0px;}
       
   }
