/* *{
    border: 2px solid red;
} */

/* rev says don't touch [he will refactor later] */

.userdiv{
    animation-name: slide;
    animation-duration: 180ms ;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.userdivback{
    animation-name: sliderev;
    animation-duration: 180ms ;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);


}
@keyframes slide {
    from {  right: 100%; left: 0px;}
    to { left: 50%; right: 0px;}
       
   }

   @keyframes sliderev {
       from { left: 50%; right: 0px;}
       to {  right: 100%; left: 0px;}
       
   }
