.inputDiv {
  position: relative;
}
.inputField {
  @apply px-6 py-[0.5rem];
  outline: none;
  transition: border 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 0.5rem;
}
.label {
  @apply px-6 py-[0.75rem];
  pointer-events: none;
  position: absolute;
  text-align: center;
  color: #575757e1;
  transition: 0.1s ease-out;
  top: 0;
  bottom: 0;
}
.label > label {
  background-color: white;
  @apply px-1;
}

.inputField:focus {
  border: 2px solid #0b5b8a;
}

.inputField:valid ~ .label {
  top: -3.25rem;
  @apply px-4;
  color: #222222e1;
}
.inputField:focus ~ .label {
  top: -3.25rem;
  @apply px-4;
  color: #222222e1;
}
